.members {
    grid-area: members;
    position: relative;
    left: 50px;
}

@media screen and (max-width: 860px) {
    .members {
        left: 30px;
    }
}

.courses {
    grid-area: courses;
    position: relative;
    right: 50px;
}

@media screen and (max-width: 860px) {
    .courses {
        right: 30px;
    }
}