.textBlueXS{
    font-size: 16px;
    font-weight: bold;
    color: #11144d;
}
.textBlue{
    font-size: 24px;
    font-weight: bold;
    color: #11144d;
}
.textBlueXL{
    font-size: 40px;
    font-weight: bold;
    color: #11144d;
}

@media screen and (max-width: 560px) {
    .textBlueXL {
        font-size: 36px;
    }
}

.textBlueLg{
    font-size: 24px;
    font-weight: bold;
    color: #11144d;;
}
.textGray{
    font-size: 12px;
    font-weight: 500;
    color: #5c5c5c;
}
.textWhite{
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

.textWhiteWPadding{
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    position: relative;
    top: 40px;
}